body {
    background-color: azure;
    display: flex;
    padding: 0px;
    margin: 0px;
}

nav figure {
    background-color: azure;
    color: #222233;
    border: solid 2.2pt azure;
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
    font-size:11pt;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: 0.5s;
}

nav figure:hover {
    border-color: cyan;
    transition: 0.5s;
}

nav figure img {
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
}

nav figure figcaption {
    height: 3.5rem;
    width: fit-content;
    margin-bottom: 1rem;
}

nav {
    background-color: #222233;
    color: azure;
    width: fit-content;
    height: 65rem;
    padding-top: 0.5vw;
}

nav h2 {
    background-color: #222233;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0.3vw;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding-left: 0.5vw;
}

nav ul li {
    border-left: solid 2.2pt #222233;
    border-top: solid 2.2pt #222233;
    border-bottom: solid 2.2pt #222233;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.5s;
}

nav ul li:hover {
    background-color: azure;
    color: #222233;
    border-color: cyan;
    text-align: center;
    transition: 0.8s;
}

nav hr {
    background-color: white;
    border: none;
    height: 1px;
    margin: 0px;
}

nav ul li a {
    color:currentColor;
    text-decoration: none;
    font-size:15pt;
    display: block;
    padding: 0.5rem;
}

div[class="container"] {
    background-color: azure;
    width:auto;
    height: fit-content;
    position: fixed;
    left: 12.96rem; 
    right: 0.5rem;
    overflow: hidden;
    margin: 0px;
}

div[class="container"] div[class="campos"] {
    background-color: azure;
    width: 100%;
    height: 63.85rem;
    padding: 0px;
    transition: 0.8s;
}

div[class="container"] div[class="campos"] h1 {
    background-color: #222233;
    color: azure;
    border: solid 2pt #222233;
    border-top: none;
    text-align: center;
    margin: 0px;
    transition: 0.8s;
}

div[class="container"] div[class="campos"] h1[class="section"] {
    border-top: solid 2pt #222233;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
}

div[class="container"] div[class="campos"] h1:hover {
    background-color: azure;
    color: #222233;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.8s;
}

div[class="container"] div[class="campos"] h1[class="section"]:hover {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div[class="container"] div[class="campos"] hr,
div[class="container"] div[class="campos"] div[class="box"] div[class="dados"] hr {
    background-color: #222233;
    border: none;
    height: 1px;
    margin: 0px;
}

div[class="container"] div[class="campos"] div[class="box"] div[class="dados"] h2,
div[class="container"] div[class="campos"] div[class="box"] div[class="dados"] h3 {
    font-weight: normal;
    margin: 0px;
}

div[class="container"] div[class="campos"] div[class="box"] {
    background-color: azure;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px auto;
    border:solid 2pt red;
    transition: 0.8s;
}

div[class="container"] div[class="campos"] div[class="box"] div[class="in_box"] {

    background-color: azure;
    width: fit-content;
    height: 100%;
    margin: 0px auto;
    border:solid 2pt red;
    transition: 0.8s;
}

div[class="container"] div[class="campos"] div[class="box"] div[class="in_box"] div[class="dados"] {
    background-color: azure;
    border: solid 2.2pt #222233;
    border-radius: 20px;
    width: fit-content;
    align-content: center;
    text-align: center;
    margin: 0px auto;
   
    float: left;
    padding: 0.5rem;
    transition: 0.15s;
}

div[class="container"] div[class="campos"] div[class="box"] div[class="dados"] a {
    color:currentColor;
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

div[class="container"] div[class="campos"] div[class="box"] div[id="descricao"] {
    text-align: left;
}

div[class="container"] div[class="campos"] div[class="box"] div[class="dados"]:hover {
    box-shadow: 10px 10px 15px #222233;
    border-color: cyan;
}